<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <div class="col-md-4 d-flex align-items-center">
            <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
                <img alt="DevToys logo" class="logo-image" height="32" src="/images/logo.svg" width="32">
            </a>
            <span class="mb-3 mb-md-0 text-body-secondary">© 2024 DevToys</span>
        </div>

        <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
            <li class="ms-3"><a class="text-body-secondary" href="https://twitter.com/VelerSoftware"><i class="bi bi-twitter-x" title="Twitter"></i></a></li>
            <li class="ms-3"><a class="text-body-secondary" href="https://github.com/DevToys-app"><i class="bi bi-github" title="GitHub"></i></a></li>
        </ul>
    </footer>
</div>