<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Étienne Baudoux" />
    <meta name="revisit-after" content="1 DAYS" />
    <meta name="robots" content="All,follow" />

    <meta name="keywords" content="devtoys,etienne,baudoux,benjamin,titeux,Html,Base64,Url,JSON,Yaml,JWT,formatter,encoder,decoder,generator,converter,developer,tool,windows,offline,mac,macos,linux,devutils,cyberchef" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@velersoftware">
    <meta name="twitter:creator" content="@@velersoftware">
    <meta name="twitter:image" content="https://devtoys.app/images/preview.png">
    <meta property="og:url" content="https://devtoys.app/">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://devtoys.app/images/preview.png">
    <link rel="canonical" href="https://devtoys.com/">

    <base href="/" />
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="bootstrap-icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="aos/aos.css" />
    <link rel="stylesheet" href="css/app.min.css" />
    <link rel="stylesheet" href="Website.styles.css" />

    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/site.webmanifest">

    <HeadOutlet />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-G2GCV0KEBG"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-G2GCV0KEBG');
    </script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="aos/aos.js"></script>
    <script>
        AOS.init();
        let scrollRef = 0;
        window.addEventListener('scroll', function () {
            // increase value up to 10, then refresh AOS
            if (scrollRef <= 10) {
                scrollRef++;
            } else {
                AOS.refresh();
            }
        });

        window.addEventListener('resize', function () {
            // increase value up to 10, then refresh AOS
            if (scrollRef <= 10) {
                scrollRef++;
            } else {
                AOS.refresh();
            }
        });
    </script>
</body>

</html>
