ul {
    padding-left: 0px;
}

li {
    list-style-type: none
}

li h4 {
    margin-top: 1rem;
}

li .details {
    min-width: 200px;
    align-content: center;
    color: rgba(255, 255, 255, 0.55);

    p {
        margin-bottom: 0px;
    }
}
